* {
    margin: 0;
    padding: 0;
}
.header{
    color: white;
    background-color: #1f2937;
}
.headerbar{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}