* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    color: white;
    background-color: #1f2937;
}
.headerbar{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}
ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
a{
    text-decoration: none;
    color: #e5e7eb;
}
.title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    max-width: 444px;
}
.sub{
    font-size: 18px;
    color: #e5e7eb;
    max-width: 444px;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
.hero{
    display: flex;
    padding: 100px;
    justify-content: space-around;
}
img{
    max-height: 200px;
    margin-left: 44px;
}
button{
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 20px;
}
.section2{
    margin: 50px;
    text-align: center;
}
.h2title{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 50px;
}
.boxes{
    display: flex;
    font-size: 18px;
    color: #1f2937;
    justify-content: center;
    gap: 40px;
}
.square{
    color: white;
    border: 5px solid #3882f6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}
.box{
    width: 150px;
}
.section3{
    background-color: #e5e7eb;
    padding: 200px;
    display: flex;
    flex-direction: column;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
}
.author{
    color: #1f2937;
    font-weight: bold;
    align-self: flex-end;
}
.CTA{
    background-color: #3882f6;
    border-radius: 4px;
    color: #f9faf8;
    display: flex;
    padding: 33px;
    justify-content: space-around;
}
.section4{
    padding: 88px 111px;
}
.CTAbutton{
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 5px 20px;    
}
.footer{
    background-color: #1f2937;
    color: #f9faf8;
    align-items: flex-end;
    padding: 20px;
    font-size: 9px;
    text-align: center;
}