* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    color: white;
    background-color: #1f2937;
}
.headerbar{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}
ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
a{
    text-decoration: none;
    color: #e5e7eb;
}
.title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    max-width: 444px;
}
.sub{
    font-size: 18px;
    color: #e5e7eb;
    max-width: 444px;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
.hero{
    display: flex;
    padding: 100px;
    justify-content: space-around;
}
img{
    max-height: 200px;
    margin-left: 44px;
}
button{
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 20px;
}
.h2title{
    font-size: 32px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}
.boxes{
    display: flex;
}
.square{
    color: white;
    border: 5px solid #3882f6;
    border-radius: 8px;
    width: 100px;
    height: 100px;
}